[submodule "thirdparty/GaussianPro"]
	path = thirdparty/GaussianPro
	url = https://github.com/Pierce-Su/GaussianPro.git
[submodule "thirdparty/vggt"]
	path = thirdparty/vggt
	url = https://github.com/Pierce-Su/vggt.git
